<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MercadoLiebre</title>

    <link href="/css/styles.css"rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

</head>


<body> 



    <header> 
     <div class="header-superior">
       

        <img class="logo"src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        
        
        <div class="buscador">
        <div class="input">Buscar productos, marcas</div>
        <div class="icono-buscador"><i class="fa fa-search"></i></div>
        </div>
        
        
        <div class="texto-formasdepago"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
       
    </div>
    <div class="header-inferior">
        <nav>
            <ul class="site1">
                <li><a class="header"href="#">Ofertas</a></li>
                <li><a class="header"href="#">Tiendas Oficiales</a></li>
                <li><a class="header"href="#">Vender</a></li>
                <li><a class="header"href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="site2">
                <li><a class="header"href="/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li class="creatucuenta"><a class="header"href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a class="header"href="#">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>

    <img class="banner"src="/images/img-home-banner.jpg" alt="banner">
    <main>


       

        <section>

            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="productos">

            <article>
                <img class="product-img"src="/images/img-cafetera-moulinex.jpg"alt="cafetera">
                <div class="product-info"><i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
            </article>

            <article>
                <img class="product-img"src="/images/img-macbook-pro-2019.jpg"alt="macbook">
                <div class="product-info"><i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <h4 class="descripcion">MacBook Pro 2019</h4>
            </div>
            </article>

            <article>
                <img class="product-img"src="/images/img-samsung-galaxy-s10.jpg"alt="samsungS10">
                <div class="product-info"><i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
            </article>

            <article>
                <img class="product-img"src="/images/img-tv-samsung-smart.jpg"alt="smartTV">
                <div class="product-info"><i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4>
            </div>
            </article>
        </div>

        </section>

        <section>

            <h3 class="titulares">Ofertas</h3>
            <div class="productos">

                <article>
                    <img class="product-img"src="/images/img-cafetera-moulinex.jpg"alt="cafetera">
                    <div class="product-info"><i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
                </article>
    
                <article>
                    <img class="product-img"src="/images/img-macbook-pro-2019.jpg"alt="macbook">
                    <div class="product-info"><i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
                </article>
    
                <article>
                    <img class="product-img"src="/images/img-samsung-galaxy-s10.jpg"alt="samsungS10">
                    <div class="product-info"><i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
                </article>
    
                <article>
                    <img class="product-img"src="/images/img-tv-samsung-smart.jpg"alt="smartTV">
                    <div class="product-info"><i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
                </article>
            </div>

        </section>


    </main>


    <footer>


        <section>

            <article class="tarjeta-de-credito">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="envio-gratis">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>


            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>

        
    
       
    </footer>


</body>


</html>
